@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700;800;900&display=swap");

@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --font-sans: "Inter", "Segoe UI", "Roboto", "Helvetica Neue", "Arial",
    "Noto Sans", sans-serif;
  --font-serif: "Playfair Display", Georgia, Cambria, "Times New Roman", Times,
    serif;

  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
}

/* Heading styles */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-serif);
  font-weight: 700;
  letter-spacing: -0.025em;
  color: black;
}

h1 {
  font-size: 3rem;
  line-height: 1;
}

h2 {
  font-size: 2.25rem;
  line-height: 1.1;
}

h3 {
  font-size: 1.875rem;
  line-height: 1.2;
}

h4 {
  font-size: 1.5rem;
  line-height: 1.25;
}

h5 {
  font-size: 1.25rem;
  line-height: 1.3;
}

h6 {
  font-size: 1.125rem;
  line-height: 1.4;
}

@media (min-width: 768px) {
  h1 {
    font-size: 4.5rem;
  }

  h2 {
    font-size: 3rem;
  }

  h3 {
    font-size: 2.25rem;
  }

  h4 {
    font-size: 1.875rem;
  }

  h5 {
    font-size: 1.5rem;
  }

  h6 {
    font-size: 1.25rem;
  }
}
